html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

html{
    scroll-behavior: smooth;
}

a {
    color: yellowgreen;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: forestgreen;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

.navbar-header{
    padding-bottom: 1.6rem;
}
.navbar-brand{
    font-size: 3.5rem;
}
.navbar-header .navbar-toggle{
    font-size: 2rem;
}
header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url('../images/s1.png');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /* background: #002050; */
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 8.0rem 1.5rem 7.0rem;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 2.0rem;
    font-size: 5.0rem;
    font-weight: 300;
}

header .header-content .header-content-inner p {
    margin-bottom: 3.0rem;
    font-size: 1.6rem;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 80vh;
        height: auto;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: .0rem 5.0rem;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        padding-top: 10.0rem;
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 100.0rem;
    }

	header .header-content .header-content-inner h1 {
    	font-size: 10.0rem;
		}

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 1.8rem;
    }
}

.section-heading {
    margin-top: 0;
    margin-bottom: 2.0rem;
}

.intro {
	color: #fff;
    background-color: yellowgreen;
    padding: 7.0rem 0;
    text-align: center;
}

.content {
    padding: 10.0rem 0;
}

.content-2 {
	color: #fff;
    background-color: #222;
}

.content-3 {
	padding: 2.0rem 0 4.0rem;
	text-align: center;
}

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
	text-shadow: .0rem .0rem 4.0rem black;
    text-decoration: none;
}

.promo-item {
    height: 40.0rem;
    line-height: 18.0rem;
    text-align: center;
    border: 8.0rem solid rgb(5,9,36);
    transition: ease-out .25s all;
    cursor: pointer;
}

.promo-item:hover {
    background-size: 108%; 
    border: .2rem solid rgba(255,255,255,0.3);
    line-height: 16.0rem;
}

.promo-item h3 {
    font-size: 4.0rem;
    display: inline-block;
    vertical-align: text-bottom;
}

.item-1 {
	background: url('../images/dbms3.webp');
	}
	
.item-2 {
	background: url('../images/os3.jpg');
	}
	
.item-3 {
	background: url('../images/net1.jpg');
	}
    
.item-4 {
        background: url('../images/cplus.png');
        }
        
.item-5 {
        background: url('../images/java2.jpg');
        }
        
.item-6{
        background: url('../images/py1.png');
        }
            
.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {
	background-size: cover;
    background-position: 50% 50%;
    border-bottom: .2rem solid whitesmoke;
	}

.page-footer {
	text-align: center;
	}

.page-footer .contact {
	padding: 10.0rem 0;
	background-color: yellowgreen;
	color: #fff;
	}

.page-footer .contact p {
	font-size: 2.2rem;
	font-weight: 300;
	}
	
.content-3 .glyphicon,	
.page-footer .contact .glyphicon {
	font-size: 3.2rem;
	font-weight: 700;
	}
		
.page-footer .small-print {
	padding: 5.0rem 0 4.0rem;
	font-weight: 300;
	}

.text-light {
    color: rgba(255,255,255,.7);
}


.navbar-default {
    border-color: rgba(34,34,34,.05);
    background-color: rgba(0, 0, 0, .9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    padding-top: 1.0rem;
}

.navbar-collapse ul{
    margin: 1.6rem 0;
}

.navbar-default .navbar-header .navbar-brand {
    color: yellowgreen;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    color: #fffafa;
    font-size: 2.0rem;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: yellowgreen;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: yellowgreen!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(max-width: 768px){
    .navbar-brand{
        padding: 1.1rem;
    }
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
        letter-spacing: 0.3em;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: #fff;
        background-color: rgba(0, 0, 0, .7);
        box-shadow: .0rem .7rem 2.0rem 0rem rgba(0,0,0,0.1);
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        letter-spacing: 0;
        color: yellowgreen;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #e7e7e7;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: yellowgreen;
    }
}


img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.text-primary {
    color: yellowgreen;
}

.bg-primary {
    background-color: yellowgreen;
}

@media(max-width: 998px)
{
	html
	{
		font-size: 58%;
	}
}

@media(max-width: 768px)
{
	html
	{
		font-size: 55%;
	}
	
}
@media(max-width: 600px)
{
	html{
		font-size: 50%;
	}
}
@media(max-width: 450px)
{
	html{
		font-size: 46%;
	}
}
@media(max-width: 350px)
{
	html{
		font-size: 42%;
	}
}