@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

@font-face {
	font-family: 'Glyphicons Halflings';
  	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Commissioner', sans-serif;
	font-weight: 600;
	color: #2d3436;
}


html{
	font-size: 62.5%;
}

body{
	margin: 0; padding: 0; box-sizing: border-box;
	height: 100vh;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	background-image: url('../img/signup bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	color: #9839ac;
	transition: ease-in-out .2s all;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}

	.glyphicon-fire:before {
	content: "\e104";
	}

.navbar li a{
	color: black;
	font-size: 2.4rem;
	padding-right: .2rem;
}

.navbar-light .navbar-nav .nav-link{
	color: #000000d1;
}


.navbar a{
	color: black;
}

.navbar-brand{
	font-size: 3.8rem;
	color: #9839ac !important;
	letter-spacing: 0.8rem;
	transition: ease-in-out .2s all;
}

.navbar-brand:hover{
	color:black !important;
	letter-spacing: 0;
}
.navbar-brand:hover>.glyphicon{
	color:black !important;
}


.navbar-toggler{
	font-size: 1.5rem;
	background: #af66c3;
    border-radius: .6rem;
}

.main{
	width: 100%;
	margin-top: 12rem;
	display: flex;
	color: black;
	align-items: center;
	justify-content: center;
	
}
.quiz-img img{
	width: 100%;
	margin: 6rem;
}

.signup-main{
	display: flex;
	color: black;
	align-items: center;
	justify-content: center;
}

.signupbox
{
color: black;
text-align: center;
padding: 0.6rem 0.8rem;


}

.signupbox h1
{
	width: fit-content;	
	border-bottom: 0.3rem solid #960091cf;
    font-size: 4.8rem;
    padding: 0rem 0rem;
    text-align: center;
    
}

.s_textbox
{
	width: 100%;
	overflow: hidden;
	font-size: 2rem;
	padding: 0.5rem 0;
	margin: 0.5rem 0;
	display: flex;
}
::placeholder {
  color: #485460;
}


.s_textbox input{
	border: none;
    outline: none;
    background: none;
    color: #2d3436;
    width: auto;
    font-size: 2.5rem;
    float: left;
    margin: .5rem 1rem;
    padding-bottom: .8rem;
    border-bottom: .25rem solid #646768;
}


.s_textbox input:focus{
  	border-color:  #960091cf;
  }


.s_textbox i{
	 font-size: 2.5rem;
    width: 3rem;
    text-align: center;
    position: relative;
    top: .6rem;
    right: 0rem;
    float: left;
    padding: .8rem .1rem;
    margin: 0rem 0rem;
}
.btn_signup{
	width: 80%;
    background-image: linear-gradient(to right, #960091cf, #3d56d0d9, #960091cf);
    background-size: 200%;
    border: .12rem solid #000000;
    padding: .2rem;
    background-size: 200%;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
    margin: 1.2rem 0;
    border-radius: 1rem;
    justify-content: center;
	transition:cubic-bezier(0.46, 0.03, 0.52, 0.96) all 0.5s;

}

.btn_signup:hover{
	background-position: center right;
	
	
}

.error_message,.error_message_js{
	font-size: 2.1rem;
	font-family: 'Commissioner', sans-serif;
	color: #a231a6;
	animation: error-display .4s linear 1;
	margin-bottom: -2rem;
	position: relative;
	top: .8rem;
}


@keyframes error-display{
	0%{
		top: 0rem;
		opacity: 0;
	}
	33%{
		top: .3rem;
		opacity: .33;
	}

	67%{
		top: .6rem;
		opacity: .67;
	}

	100%{
		top: .8rem;
		opacity: 1;
	}
}

@media(max-width: 998px)
{
	html
	{
		font-size: 58%;
	}
}

@media(max-width: 768px)
{
	html
	{
		font-size: 55%;
	}
	.navbar {
	background: transparent;
	border-bottom: .2rem solid #9f33a7;
    }

.img-fluid{
		display: none;
	}
}
@media(max-width: 600px)
{
	html{
		font-size: 52%;
	}
}

@media(max-width: 350px)
{
	html{
		font-size: 45%;
	}
}
 
